*{
    margin:0;
    border:0;
}


main {
    height: 100vh;
    background-color:rgb(58, 16, 58);
    border: 4px solid rgb(19, 16, 16);
}
body::-webkit-scrollbar{
    display: none;
}

.clock {
    position: absolute;
    top: 30%;
    left: 40%;


    height: 200px;
    width: 350px;
    background-color: rgb(225, 166, 225);
    color:black;
    border: 5px solid rgb(247, 10, 10);
}